body {
font-family: Arial, sans-serif;
background: #f4f4f4;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.card {
background: #fff;
width: 300px;
padding: 20px;
border-radius: 12px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
text-align: center;
}

.profile-pic {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 10px;
border: 2px solid #ddd;
}

.name {
font-size: 18px;
font-weight: bold;
margin-bottom: 15px;
}


input {
width: 100%;
padding: 8px;
border-radius: 6px;
border: 1px solid #ccc;
margin-bottom: 10px;
}


button {
width: 100%;
padding: 8px;
border: none;
border-radius: 6px;
background: #4f46e5;
color: white;
font-size: 14px;
cursor: pointer;
}


button:hover {
background: #4338ca;
}